## Segmenting and Clustering Neighborhoods in Toronto

### 3(a) Create Dataframe

Importing necessary packages

In [1]:
# Importing required libraries & packages
import pandas as pd

In [2]:
pip --version

pip 19.1.1 from /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pip (python 3.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install "lxml"

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.1)
Note: you may need to restart the kernel to use updated packages.

Scraping the Wikipedia page for the table of postal codes of Canada

In [4]:
# Get table from url and transform it to dataframe
url = 'http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(url)
df = dfs[0]
print(df)

    Postal Code           Borough  \
0           M1A      Not assigned
1           M2A      Not assigned
2           M3A        North York
3           M4A        North York
4           M5A  Downtown Toronto
..          ...               ...
175         M5Z      Not assigned
176         M6Z      Not assigned
177         M7Z      Not assigned
178         M8Z         Etobicoke
179         M9Z      Not assigned

                                          Neighborhood
0                                                  NaN
1                                                  NaN
2                                            Parkwoods
3                                     Victoria Village
4                            Regent Park, Harbourfront
..                                                 ...
175                                                NaN
176                                                NaN
177                                                NaN
178  Mimico NW, The Queensway West, South of Bloor,...
179                                                NaN

[180 rows x 3 columns]

Data Preprocessing and Cleaning

In [13]:
# Get names of indexes for which column Borough has value 'Not assigned'
indexNames = df[ df['Borough'] == 'Not assigned' ].index
 
# Delete these row indexes from dataFrame
df = df.drop(indexNames)

In [15]:
# Reset index values
df = df.reset_index(drop=True)
df

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing Centre
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [17]:
# Checking for any not assigned neighborhoods
df.loc[df["Neighborhood"] == "NaN"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [20]:
# Print number of rows of the dataframe
df.shape

(103, 3)

### 3(b) Get Geographical Coordinates of Neighborhoods

Use the given csv file to upload the coordinates to a pandas dataframe

In [22]:
geoc_df = pd.read_csv("https://cocl.us/Geospatial_data")
geoc_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Merge the two dataframes so as to attach latitude & longitude to neighborhoods

In [25]:
# Merge while removing extra "Postal Code" column
df_toronto = pd.merge(df, geoc_df, how='left', left_on = 'Postal Code', right_on = 'Postal Code')
df_toronto.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [26]:
# Checking shape is the same plus 2 extra columns
df_toronto.shape

(103, 5)